@model TheBakeryShop.Models.tbProduct

@{
    ViewBag.Title = "Xóa sản phẩm";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}

<h2>Xóa sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xóa sản phẩm này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.codePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.namePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.namePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descriptionPro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descriptionPro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pricePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pricePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sizePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sizePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statePro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statePro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codeStyle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codeStyle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "SanPham", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>
