@model IEnumerable<TheBakeryShop.Models.tbUser>

@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}

<h2>DANH SÁCH NGƯỜI DÙNG</h2>

<p>
    @Html.ActionLink("Tạo người dùng mới", "CreateND", null, new {@class= "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeCus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userPass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codeCus)
        </td>
        <td>
            @Html.ActionLink("Chỉnh sửa", "EditND", new {  id=item.idUser  },new {@class="btn btn-info"}) |
            @Html.ActionLink("Chi tiết", "DetailND", new {  id=item.idUser  },new {@class="btn btn-warning"}) |
            @Html.ActionLink("Xóa", "DeleteND", new {  id=item.idUser  }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
