@model IEnumerable<TheBakeryShop.Models.tbProduct>

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Share/_AdminLayout.cshtml";
}

<h2>DANH SÁCH SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Tạo sản phẩm mới", "CreateSP", null, new { @class = "btn btn-secondary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.namePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pricePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sizePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.statePro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codeStyle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.namePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pricePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sizePro)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.imagePro)*@
                <img src="@Url.Content(item.imagePro)" style="height:150px;width:150px;justify-content:center;justify-items:center;"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statePro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codeStyle)
            </td>
            <td>
                @Html.ActionLink("Chỉnh sửa", "EditSP", new { id = item.codePro }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Chi tiết", "DetailSP", new { id = item.codePro }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Xóa", "DeleteSP", new { id = item.codePro }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
    @*@Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))*@
</table>
