
@{
    ViewBag.Title = "DMSanPham";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}
@using TheBakeryShop.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<tbProduct>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

<div class="row products-list">

    @foreach (var pro in Model)
    {
        <div class="col-lg-3">

            <div class="product-top">

                <div class="pd-img">
                    <div class="pd-img-child">
                        <img src="@Url.Content(pro.imagePro)" alt="list-ck" class="img" style="width:100%" />
                    </div>
                </div>

                <div class="overlay">
                    <button type="button" class="btn btn-secondary" title="quick shop">
                        <a href="@Url.Action("ChiTietSanPham", "Product", new {id = pro.codePro} )" style="text-decoration:none;color:white;">
                            <i class="fi fi-br-search search-icon"></i>
                        </a>
                    </button>
                    <button type="button" class="btn btn-secondary" title="quick shop">
                        <a href="@Url.Action("GioHang", "Product")" style="text-decoration:none;color:white;">
                            <i class="fi fi-br-shopping-cart cart-icon"></i>
                        </a>
                    </button>
                </div>
            </div>
            <div class="product-bottom text-center">
                <h5>@Html.DisplayFor(Model => pro.namePro)</h5>
                <h6>@Html.DisplayFor(Model => pro.pricePro)đ</h6>
            </div>
        </div>
    }

</div>

@Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))
