@model IEnumerable<TheBakeryShop.Models.tbProduct>
@*@using TheBakeryShop.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<tbProduct>*@

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}

<link href="~/MyContent/Css/product.css" rel="stylesheet" />
<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="bg-news">
    <h1>Sản phẩm</h1>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-3">
            <div class="product-select">

                <div class="all-product">
                    <div class="title-pd"><h5>Danh mục sản phẩm</h5></div>
                    <div class="all-pro">

                        @{Html.RenderAction("Style", "Product"); }

                        @*<ul>
                            <li>
                                <a href="#">Bánh ngọt</a>
                                <ul>
                                    <li><a href="#">Bánh bông lan</a></li>
                                    <li><a href="#">Bánh su kem</a></li>
                                    <li><a href="#">Bánh Mousse</a></li>
                                    <li><a href="#">Bánh Tiramisu</a></li>
                                    <li><a href="#">Bánh Panna Cotta</a></li>
                                    <li><a href="#">Pudding</a></li>
                                    <li><a href="#">Bánh Donut</a></li>
                                    <li><a href="#">Bánh Tart trứng</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh sinh nhật</a>
                                <ul>
                                    <li><a href="#">Bánh sự kiện</a></li>
                                    <li><a href="#">Bánh đặt trước</a></li>
                                    <li><a href="#">Bánh có sẵn</a></li>
                                    <li><a href="#">Dành cho trẻ em</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh theo mùa</a>
                                <ul>
                                    <li><a href="#">Bánh quy tết</a></li>
                                    <li><a href="#">Bánh trung thu</a></li>
                                    <li><a href="#">Bánh quy Noel</a></li>
                                    <li><a href="#">Bánh Halloween</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Bánh mì</a>
                                <ul>
                                    <li><a href="#">Bánh mì gối</a></li>
                                    <li><a href="#">Bánh mì mặn</a></li>
                                    <li><a href="#">Bánh mì ngọt</a></li>
                                </ul>
                            </li>
                        </ul>*@
                    </div>
                </div>

                <div class="product-filter">
                    <div class="title-pd"><h5>Mức giá</h5></div>
                    <div class="list-price">
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Dưới 10.000đ
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Từ 10.000đ - 50.000đ
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Từ 50.000đ - 100.000đ
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Từ 100.000đ - 200.000đ
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Từ 200.000đ - 300.000đ
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Từ 300.000đ - 500.000đ
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Từ 500.000đ - 1 triệu
                        </label>
                        <label class="list-group-item" type="checkbox" value="">
                            <input class="check" type="checkbox" value="">
                            Trên 1 triệu
                        </label>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-9">

            @*@{Html.RenderAction("DMSanPham", "Product"); }*@

            <div class="row products-list">

            @foreach (var pro in Model)
            {
                <div class="col-lg-3">

                    <div class="product-top">

                        <div class="pd-img">
                            <div class="pd-img-child">
                                <img src="@Url.Content(pro.imagePro)" alt="list-ck" class="img" style="width:100%" />
                            </div>
                        </div>

                        <div class="overlay">
                            <button type="button" class="btn btn-secondary" title="quick shop">
                                <a href="@Url.Action("ChiTietSanPham", "Product")" style="text-decoration:none;color:white;">
                                    <i class="fi fi-br-search search-icon"></i>
                                </a>
                            </button>
                            <button type="button" class="btn btn-secondary" title="quick shop">
                                <a href="@Url.Action("GioHang", "Product")" style="text-decoration:none;color:white;">
                                    <i class="fi fi-br-shopping-cart cart-icon"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="product-bottom text-center">
                        <h5>@Html.DisplayFor(Model => pro.namePro)</h5>
                        <h6>@Html.DisplayFor(Model => pro.pricePro)đ</h6>
                    </div>
                </div>
            }

        </div>

            @*@Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page }))*@
        </div>

    </div>
</div>



