<!DOCTYPE html>
<html lang="vi">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <!--bootstrap-->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--css,js-->
    <link href="~/MyContent/Css/header.css" rel="stylesheet" />
    <script src="~/MyContent/Js/header.js" defer></script>
    <link href="~/MyContent/Css/footer.css" rel="stylesheet" />
    <style>
        .popup .text .log a{
            text-decoration:none;
            font-size:20px;
            color:white;
            padding:20px 100px 20px 100px;
        }
        .header .menu-log a {
            text-decoration: none;
            font-size: 17px;
            color: white;
            padding: 10px 20px 10px 20px;
        }
    </style>

    <!--icon-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

</head>
<body>
    @*Tạo fỏm submit về action tìm kiếm*@
    @using(Html.BeginForm("KQTimKiem", "TimKiem"))
    {
        <div class="popup-search" style="height: 100px;">
            <div class="container">
                <div class="search-wrap">
                    <div class="search-box">
                        <input type="text" name="keys" class="input" placeholder="Tìm kiếm..." style="color:black"/>
                        <div class="btn-search">
                            @*<input type="submit" value="Tìm kiếm" class="btn btn-success"/>*@
                            <button type="submit"><i class="fi fi-br-search search-icon"></i></button>
                        </div>
                        <div class="btn-close-search">
                            <i class="fi fi-br-cross" id="closePopup"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }


    <header class="header">
        <div class="container">
            <div class="row v-center">
                <div class="header-item item-left">
                    <div class="logo">
                        <a href="@Url.Action("TrangChu","Home")"><img src="~/MyContent/Image/logo.png" style="height: 70px;" /></a>
                        @*<img src="../media/demologo.jpg" alt="logo" style="height: 70px;" class="rounded-pill">*@
                    </div>
                </div>
                <!-- menu start here -->
                <div class="header-item item-center">
                    <div class="menu-overlay">
                    </div>
                    <nav class="menu">
                        <div class="mobile-menu-head">
                            <div class="go-back"><i class="fi fi-br-angle-left"></i></div>
                            <div class="current-menu-title"></div>
                            <div class="mobile-menu-close"><i class="fi fi-br-cross"></i></div>
                        </div>
                        <ul class="menu-main">
                            <li>
                                <a href="@Url.Action("TrangChu","Home")">Trang chủ</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="@Url.Action("SanPham","Product")" style="text-decoration:none;">Sản phẩm </a>
                                <i class="fi fi-br-angle-down" style="font-size:18px"></i>
                                <div class="sub-menu mega-menu mega-menu-column-4">
                                    <div class="list-item">
                                        <h4 class="title"><a href="#">Bánh ngọt</a></h4>
                                        <ul>
                                            <li><a href="#">Bánh bông lan</a></li>
                                            <li><a href="#">Bánh su kem</a></li>
                                            <li><a href="#">Bánh Mousse</a></li>
                                            <li><a href="#">Bánh Tiramisu</a></li>
                                            <li><a href="#">Bánh Panna Cotta</a></li>
                                            <li><a href="#">Pudding</a></li>
                                            <li><a href="#">Bánh Donut</a></li>
                                            <li><a href="#">Bánh Tart trứng</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title"><a href="#">Bánh sinh nhật</a></h4>
                                        <ul>
                                            <li><a href="#">Bánh sự kiện</a></li>
                                            <li><a href="#">Bánh đặt trước</a></li>
                                            <li><a href="#">Bánh có sẵn</a></li>
                                            <li><a href="#">Dành cho trẻ em</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title"><a href="#">Bánh theo mùa</a></h4>
                                        <ul>
                                            <li><a href="#">Bánh quy tết</a></li>
                                            <li><a href="#">Bánh trung thu</a></li>
                                            <li><a href="#">Bánh quy Noel</a></li>
                                            <li><a href="#">Bánh Halloween</a></li>
                                        </ul>
                                    </div>
                                    <div class="list-item">
                                        <h4 class="title"><a href="#">Bánh mì</a></h4>
                                        <ul>
                                            <li><a href="#">Bánh mì gối</a></li>
                                            <li><a href="#">Bánh mì mặn</a></li>
                                            <li><a href="#">Bánh mì ngọt</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="@Url.Action("TinTuc","News")">Tin tức</a>
                            </li>
                            <li>
                                <a href="@Url.Action("LienHe","Contact")">Liên hệ</a>
                            </li>
                            <li>
                                <div class="menu-log">
                                    @if (Session["userName"] != null)
                                    {
                                        <h5>Xin chào @Session["userName"]!</h5>
                                        <div class="mn-log">
                                            <button type="button" class="signout">@Html.ActionLink("Đăng xuất", "DangXuat", "User")</button>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="mn-log">
                                            <button type="button" class="signin">@Html.ActionLink("Đăng nhập", "DangNhap", "User")</button>
                                            <button type="button" class="register">@Html.ActionLink("Đăng ký", "DangKy", "User")</button>
                                        </div>
                                    }

                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- menu end here -->
                <div class="header-item item-right">

                    <i class="fi fi-br-search search-icon" id="searchIcon"></i>
                    <i class="fi fi-br-shopping-cart cart-icon"></i>
                    <i class="fi fi-br-user user-icon"></i>
                    <!-- mobile menu trigger -->
                    <div class="mobile-menu-trigger">
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="popup">
        <div class="popup-inner">
            <div class="img">
                <img src="~/MyContent/Image/cupcake-bg.jpg" alt="bg" />
            </div>



            <div class="text">
                <div class="closePopup"><i class="fi fi-br-cross"></i></div>

                <div class="group">

                    @if (Session["userName"] != null)
                    {
                        <h5>Xin chào @Session["userName"]!</h5>
                        <div class="log">
                            <button type="button" class="signout">@Html.ActionLink("Đăng xuất", "DangXuat", "User")</button>
                        </div>
                    }
                    else
                    {
                        <div class="log">
                            <button type="button" class="signin">@Html.ActionLink("Đăng nhập", "DangNhap", "User")</button>
                            <h3><span>Hoặc</span></h3>
                            <button type="button" class="register">@Html.ActionLink("Đăng ký", "DangKy", "User")</button>
                        </div>
                        <h3><span>Hoặc đăng nhập bằng</span></h3>
                        <div class="social-md">
                            <a href="#"><img src="~/MyContent/Image/social-md/fb.png" /></a>
                            <a href="#"><img src="~/MyContent/Image/social-md/gg.png" /></a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="cart-sidebar">
        <span class="close-cart"><i class="fi fi-br-cross"></i></span>
        <div class="cart-title">
            <h4>Giỏ hàng</h4>
        </div>
        <div class="cart-body">
            <div class="cart-item">
                <div class="img">
                    <img src="~/MyContent/Image/banh-ngot/cupcake/candy-cupcakes.jpg" />
                </div>
                <div class="text">
                    <span>Số lượng: x1</span>
                    <h5>Candy Cupcakes</h5>
                    <h6>25.000đ</h6>
                </div>
            </div>
            <div class="cart-item">
                <div class="img">
                    <img src="~/MyContent/Image/banh-ngot/cupcake/candy-cupcakes.jpg" />
                </div>
                <div class="text">
                    <span>Số lượng: </span>
                    <h5>Candy Cupcakes</h5>
                    <h6>25.000đ</h6>
                </div>
            </div>
            <div class="cart-item">
                <div class="img">
                    <img src="~/MyContent/Image/banh-ngot/cupcake/candy-cupcakes.jpg" />
                </div>
                <div class="text">
                    <span>Số lượng: </span>
                    <h5>Candy Cupcakes</h5>
                    <h6>25.000đ</h6>
                </div>
            </div>
            <div class="button-pay">
                <button type="button">Thanh toán</button>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 dm-menu">
                    <h3>Danh mục</h3>
                    <a href="@Url.Action("TrangChu","Home")">Trang chủ</a>
                    <a href="@Url.Action("SanPham","Product")">Sản phẩm</a>
                    <a href="@Url.Action("TinTuc","News")">Tin tức</a>
                    <a href="@Url.Action("LienHe","Contact")">Liên hệ</a>
                </div>
                <div class="col-lg-6 mail-logo">
                    <div class="logo-content">
                        <img src="~/MyContent/Image/logo.png" alt="logo" style="height: 130px;">
                        <p>Đăng ký nhận thông tin sản phẩm mới nhất, tin khuyến mãi và nhiều hơn nữa.</p>
                    </div>
                    <form action="">
                        <input type="email" name="" id="" placeholder="Nhập email của bạn" required>
                        <br>
                        <button type="submit">Đăng ký</button>
                    </form>
                </div>
                <div class="col-lg-3 social">
                    <h3>Thông tin liên hệ</h3>
                    <p>Địa chỉ: <a href="#">828 Sư Vạn Hạnh, Phường 13, Quận 10, TP. HCM</a></p>
                    <p>Điện thoại: <a href="#">(028) 3863 2052</a> - <a href="#">(028) 3862 9232</a></p>
                    <p>Email: <a href="#">contact@huflit.edu.vn</a></p>
                    <div class="social-link">
                        <a href="https://www.facebook.com/huflit.edu.vn" target="_blank"><i class="fi fi-brands-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fi fi-brands-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fi fi-brands-tik-tok"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
