
@{
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Share/_MainLayout.cshtml";
}


<!--bootstrap-->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<!--css,js-->
<link href="~/MyContent/Css/news.css" rel="stylesheet" />
<link href="~/MyContent/Css/bg-news.css" rel="stylesheet" />

<!--icon-->
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

<!--font-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap&family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">

<div class="bg-news">
    <h1>Tin tức</h1>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4">

            <div class="row row-hot-new">

                <h2 id="fm-name">Tin tức nổi bật</h2>

                <div class="row news-col">
                    <div class="col-lg-5">
                        <a href=""@Url.Action("ChiTietTinTuc", "News")"><img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="boximg" /></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-date">
                            <a href="@Url.Action("ChiTietTinTuc", "News")"><h4>Bánh sinh nhật khủng long</h4></a>
                            <div class="time-post">
                                17/08/2023
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row news-col">
                    <div class="col-lg-5">
                        <a href=""@Url.Action("ChiTietTinTuc", "News")"><img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="boximg" /></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-date">
                            <a href=""@Url.Action("ChiTietTinTuc", "News")"><h4>Bánh sinh nhật khủng long</h4></a>
                            <div class="time-post">
                                17/08/2023
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row news-col">
                    <div class="col-lg-5">
                        <a href=""@Url.Action("ChiTietTinTuc", "News")"><img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" class="boximg" /></a>
                    </div>
                    <div class="col-lg-7">
                        <div class="title-date">
                            <a href=""@Url.Action("ChiTietTinTuc", "News")"><h4>Bánh sinh nhật khủng long</h4></a>
                            <div class="time-post">
                                17/08/2023
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row row-list">
                <div class="link-list">
                    <h3 id="fm-name">Danh mục</h3>
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("TrangChu","Home")">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("SanPham","Product")">Sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("TinTuc","News")">Tin tức</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("LienHe","Contact")">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="col-lg-8">

            <div class="row news-all">

                <div class="col-lg-6 col-img">
                    <div class="news-img">
                        <div class="news-img-child">
                            <a href="~/News/ChiTietTinTuc">
                                <img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-content">
                    <div class="box-text">
                        <div class="new-title">
                            <a href="~/News/ChiTietTinTuc"><h2>Bánh mới nhất</h2></a>
                            <h5>Title description, Dec 7, 2020</h5>
                        </div>
                        <div class="new-content">
                            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row news-all">

                <div class="col-lg-6 col-img">
                    <div class="news-img">
                        <div class="news-img-child">
                            <img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-content">
                    <div class="box-text">
                        <div class="new-title">
                            <a href=""@Url.Action("ChiTietTinTuc", "News")"><h2>Bánh mới nhất</h2></a>
                            <h5>Title description, Dec 7, 2020</h5>
                        </div>
                        <div class="new-content">
                            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row news-all">

                <div class="col-lg-6 col-img">
                    <div class="news-img">
                        <div class="news-img-child">
                            <img src="~/MyContent/Image/banh-mi/banh-mi-cha-bong-rong-bien.jpg" alt="list-ck" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-content">
                    <div class="box-text">
                        <div class="new-title">
                            <a href=""@Url.Action("ChiTietTinTuc", "News")"><h2>Bánh mới nhất</h2></a>
                            <h5>Title description, Dec 7, 2020</h5>
                        </div>
                        <div class="new-content">
                            <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>