@model TheBakeryShop.Models.tbUser


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--css,jvs-->
    <link href="~/MyContent/Css/signInUp.css" rel="stylesheet" />

    <!--icon-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="bg">
     

        <div class="wraper">
            <h3>Đăng nhập</h3>
            @using (Html.BeginForm("AuthenDangNhap","User",FormMethod.Post))
            {
                <form action="">
                    @*@Html.DisplayNameFor(m => m.userName)*@
                    @Html.TextBoxFor(m => m.userName, new { placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.userName)
                    @if (ViewBag.ErrorName != null)
                    {
                        <p>@ViewBag.ErrorName</p>
                    }

                    @Html.PasswordFor(m => m.userPass, new { placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.userPass)
                    @if (ViewBag.ErrorPass != null)
                    {
                        <p>@ViewBag.ErrorPass</p>
                    }

                    @*<input type="text" placeholder="Tên đăng nhập">
        <input type="password" placeholder="Mật khẩu">*@
                    <a href="#" class="forgot">Quên mật khẩu?</a>
                    <input type="submit" value="Đăng nhập" class="btn-sub">
                </form>
                <div class="signup">
                    <span>Không phải là thành viên?</span>
                    <a href="@Url.Action("DangKy","User")" class="up">Đăng ký</a>
                </div>

            }
        </div>


    </div>
    
</body>
</html>