@model TheBakeryShop.Models.tbUser


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--bootstrap-->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!--css,jvs-->
    <link href="~/MyContent/Css/signInUp.css" rel="stylesheet" />

    <!--icon-->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css'>

    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Merienda&family=Playpen+Sans&display=swap" rel="stylesheet">
    <title>Đăng nhập</title>
</head>
<body>
    <div class="bg">
        @*<div class="wrapper">

            <div class="title-text">
                <div class="title login">
                    Đăng nhập
                </div>
            </div>

            @using (Html.BeginForm())
            {
                <div class="form-container">
                    <div class="form-inner">
                        <form action="#" class="login">
                            <div class="field">
                                @Html.TextBoxFor( m => m.userName, new { placeholder = "Tên đăng nhập" })
                                @Html.ValidationMessageFor( m => m.userName)
                                <input type="text" placeholder="Tên đăng nhập hoặc email" required>
                            </div>
                            <div class="field">
                                @Html.TextBoxFor(m => m.userPass, new { placeholder = "Mật khẩu" })
                                @Html.ValidationMessageFor(m => m.userPass)
                                <input type="password" placeholder="Mật khẩu" required>
                            </div>
                            <div class="pass-link">
                                <a href="#">Quên mật khẩu?</a>
                            </div>
                            <div class="field btn">
                                <div class="btn-layer"></div>
                                <input type="submit" value="Đăng nhập">
                            </div>
                            <div class="signup-link">
                                Không phải là thành viên? <a href="Register.html">Đăng ký!</a>
                            </div>
                        </form>

                    </div>
                </div>

            }
        </div>*@

        <div class="wraper">
            <h3>Đăng nhập</h3>
            @using (Html.BeginForm())
            {
                <form action="">
                    @Html.TextBoxFor(m => m.userName, new { placeholder = "Tên đăng nhập" })
                    @Html.ValidationMessageFor(m => m.userName)
                    @Html.TextBoxFor(m => m.userPass, new { placeholder = "Mật khẩu" })
                    @Html.ValidationMessageFor(m => m.userPass)
                    <input type="text" placeholder="Tên đăng nhập">
                    <input type="password" placeholder="Mật khẩu">
                    <a href="#">Quên mật khẩu?</a>
                    <input type="submit" value="Đăng nhập" class="btn-sub">
                </form>
                <div class="signup">
                    <span>Không phải là thành viên?</span>
                    <a href="#">Đăng ký</a>
                </div>

            }
        </div>


    </div>
    
</body>
</html>

