@model TheBakeryShop.Models.Cart

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Product/GioHang.cshtml";
}

<h2>Giỏ hàng</h2>
<a href="@Url.Action("SanPham", "Product")">Tiếp tục mua hàng</a>
@if (Model != null)
{
    <table class="table">
        <thread>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            <table class="table">
                @foreach (var item in Model.Items)
                {
                    decimal total = item._quantity * (decimal)item._product.pricePro.Value;
                    <tr>
                        <td>@Html.DisplayFor(model => item._product.namePro)</td>
                        <td><img src="@Url.Content(item._product.imagePro)" height="50" /></td>
                        <td>@Html.DisplayFor(model => item._product.pricePro)</td>
                        <td>
                            @using (Html.BeginForm("Update_Cart_Quantity", "ShoppingCart"))
                            {
                                <input type="hidden" value="@item._product.codePro" name="idPro" />
                                <input type="number" value="@item._quantity" name="cartQuantity" />
                                <input type="submit" value="Update" />
                            }
                        </td>
                        <a href="@Url.Action("DangKy", "User")" class="btn btn-danger">Register</a>

                        <td>@total</td>
                        <td>
                            <a href="/ShoppingCart/RemoveCart/@item._product.codePro">Xóa</a>
                        </td>
                    </tr>
                }
           
           
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" style="text-align:right"> Tổng tiền: @Model.Total_money() </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td colspan="4">
                    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
                    {
                        <table style="border-collapse:separate; border-spacing:5px;">
                            <tr>
                                <td>Code Customer:</td>
                                <td><input type="number" name="Customer" required /></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="CheckOut" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    }
                </td>
            </tr>
        </tfoot>
    </table>
}
else
{
    @Html.Partial("EmptyCart");
}

